* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

body {
  background-color: lightseagreen;
}

.nav-list ul {
  font-size: 18pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list li a:hover {
  color: grey;
  text-decoration: none;
}

#News {
  border: 1px solid black;
}

#News ul {
  font-size: 18pt;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  gap: 45px;
}

#News li {
  list-style: none;
}

#News li a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#News li a:hover {
  color: dodgerblue;
}

.banner img {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 205vh;
  height: 55vh;
}

.space {
  height: 5px;
  width: 100%;
}
#section2 {
  margin: 0;
  padding: 0;
}
#section2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}
#bird {
  margin: 0;
  padding: 0;
}
#bird img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
